.form-group
  label(for='feedbackBodyInput') Palaute, kehitysidea tai muu
  textarea#feedbackBodyInput.form-control(name='text')
.form-group
  input#feedbackNameInput.form-control(name='author', type='text', placeholder='Nimi (vapaaehtoinen)')
input(name='lat', type='hidden', value=lat)
input(name='lng', type='hidden', value=lng)