#sidebar.sidebar.collapsed
  // Nav tabs
  .sidebar-tabs
    ul(role='tablist')
      li
        a(href='#home', role='tab')
          i.fa.fa-bars
      li
        a(href='#profile', role='tab')
          i.fa.fa-user
      li.disabled
        a(href='#messages', role='tab')
          i.fa.fa-envelope
    ul(role='tablist')
      li
        a(href='#settings', role='tab')
          i.fa.fa-gear
  // Tab panes
  .sidebar-content
    #home.sidebar-pane
      h1.sidebar-header
        | sidebar-v2
        span.sidebar-close
          i.fa.fa-caret-left
      p
        | A responsive sidebar for mapping libraries like 
        a(href='http://leafletjs.com/') Leaflet
        |  or 
        a(href='http://openlayers.org/') OpenLayers
        | .
      p.lorem
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p.lorem
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p.lorem
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p.lorem
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    #profile.sidebar-pane
      h1.sidebar-header
        | Profile
        span.sidebar-close
          i.fa.fa-caret-left
    #messages.sidebar-pane
      h1.sidebar-header
        | Messages
        span.sidebar-close
          i.fa.fa-caret-left
    #settings.sidebar-pane
      h1.sidebar-header
        | Settings
        span.sidebar-close
          i.fa.fa-caret-left